<button class="button" (click)="handleClear()" [attr.disabled]="lastSearches.length > 0 ? null : 'disabled'">
  clear
</button>
<ul *ngFor="let item of lastSearches" class="tile is-ancesor">
  <li class="tile notification is-child is-parent">
    <div class="tile is-child box">
      <div class="columns">
        <p class="column">
          {{item.city}}
          {{item.country | uppercase}}
        </p>
        <p class="delete column"></p>
      </div>
      <div class="columns">
        <div class="column">
          <div class="button">Rerun</div>
        </div>
      </div>
    </div>
  </li>
</ul>