<form (ngSubmit)="handleSubmit()">
  <div class="field">
    <div class="control">
      <label class="label" for="city">City</label>
      <input class="input" type="text" [formControl]="city">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="label" for="country">Country</label>
      <input class="input" type="text" [formControl]="country">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="button is-primary" type="submit">
    </div>
  </div>
</form>
<app-user-choose-info></app-user-choose-info>